@model CRUDCORE.Models.Trabajadore
@{
    ViewData["Title"] = "Eliminar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3 class="text-danger">¿Esta seguro de eliminar el trabajador?</h3>
<hr />
<div class="row">
    <div class="col-sm-4">
        <form asp-action="Eliminar" asp-controller="Home" method="post">
            <input type="hidden" asp-for="Id" />
            <div class="mb-2">
                <label class="form-label" asp-for="TipoDocumento">Tipo Documento</label>
                <input class="form-control form-control-sm" asp-for="TipoDocumento" type="text" disabled />
            </div>

            <div class="mb-2">
                <label class="form-label" asp-for="NumeroDocumento">Nro Documento</label>
                <input class="form-control form-control-sm" asp-for="NumeroDocumento" type="text" disabled />
            </div>

            <div class="mb-2">
                <label class="form-label" asp-for="Nombres">Nombres</label>
                <input class="form-control form-control-sm" asp-for="Nombres" type="text" disabled />
            </div>

            <div class="mb-2">
                <label class="form-label" asp-for="Sexo">Sexo</label>
                <input class="form-control form-control-sm" asp-for="Sexo" type="text" disabled />
            </div>

            <div class="mb-2">
                <label class="form-label" asp-for="IdDepartamento">Departamento</label>
                <input class="form-control form-control-sm" asp-for="oDepartamento.NombreDepartamento" type="text" disabled />
               
            </div>

            <div class="mb-2">
                <label class="form-label" asp-for="IdProvincia">Provincia</label>
                <input class="form-control form-control-sm" asp-for="oProvincium.NombreProvincia" type="text" disabled />
               
            </div>

            <div class="mb-2">
                <label class="form-label" asp-for="IdDistrito">Distrito</label>
                <input class="form-control form-control-sm" asp-for="oDistrito.NombreDistrito" type="text" disabled/>
            </div>

            <div class="mb-2">
                
                    <button class="btn btn-danger btn-sm m-25" type="submit">Eliminar</button>
                
                <a class="btn btn-dark btn-sm" asp-action="Index" asp-controller="Home">Volver</a>
            </div>
        </form>
    </div>
</div>

